<!DOCTYPE html>
<html>
<head>
  <title>Request Information</title>
</head>
<body>
<h1>Request Information</h1>
<p>Want more information about becoming a student? Fill out the form below!</p>
<form action="/request_info" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>